/subpage/doc/*
/subpage/vid/*
/subpage/mus/*
/subpage/res/*
/subpage/news/*
/subpage/posts/*
/subpage/metro/*
/subpage/treeMusic.html
/subpage/treeVideo.html
/subpage/treeResource.html
/subpage/index.html
